form{
  width: 100%;
}

#root{
  padding: 0.5% 2% 2% 1%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}